<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head.ejs%>
</head>

<body>
  <div>
    <% include partials/menuP.ejs%>
  </div>
  <div class="container-fluid bg-3 text-center">
    <!-- <h4><%=page %></h4><br> -->
    <p> <%=firstname%> <%=lastname%> <%=username%></p>
    <!-- <p> <%=lastname%></p> -->
  </div>
  <div> 
  </div>
</body>
<% include partials/script.ejs%>

</html>